@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">An error occurred.</h2>
<p class="text-danger">We're sorry, but something went wrong.</p>

@if (ViewData["ErrorMessage"] != null)
{
    <p>Error details: @ViewData["ErrorMessage"]</p>
}